<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.god2dog.imageselector">

    <application android:label="@string/app_name">
        <provider
            android:name="com.god2dog.imageselector.provider.ImageSelectorProvider"
            android:authorities="${applicationId}.imageSelectorProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_selector_file_paths" />
        </provider>
    </application>
</manifest>
